* {
  margin:  0;
  padding: 0;

  font-family: sans-serif;
}

body {
  min-width: 342px;
  padding-left:  100px;
  padding-right: 100px;

  color: #333;
  background: #e5e5e5;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;

  color: #333;
}

header {
  margin: 20px auto 0 auto;

  text-align: center;
}

header a#title {
  color: inherit;

  font-size: 40px;
  font-weight: bold;

  text-decoration: none;
}

@media only screen and (min-width: 860px) {
  #wrapper {
    display: flex;
  }

  #sidebar {
    flex: 1;

    border-right: 1px dashed lightgrey;
  }

  #main {
    flex: 4;
  }
}

#wrapper {
  margin:  20px auto 0 auto;
  padding: 40px 30px 40px 30px;

  color: #606060;
  background: white;

  border: 2px solid silver;
  border-radius: 15px;
}

#wrapper a {
  text-decoration: none;
  color: #393;
}

#wrapper a:hover {
  color: #528;
}

#sidebar {
  padding: 0 20px 0 20px;

  text-align: right;
}

#sidebar h1.title {
  margin:  0;
  padding: 0;

  color: #333;

  font-size: 24px;
  letter-spacing: -1px;

  text-align: left;
  text-transform: uppercase;
}

#sidebar img.logo {
  display: block;

  width:  256px;
  height: 256px;
  margin: 10px auto 10px auto;

  border: 1px solid lightgrey;
  border-radius: 15px;
}

#main {
  padding: 0 20px 0 20px;
}

#main h1 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
}

#main p {
  margin: 0 0 20px 0;

  font-size: 15px;
  line-height: 20px;
}

#main ul, #main ol {
  margin: 0 0 20px 20px;

  font-size: 15px;
}

#main ul {
  list-style-type: square;
}

#main p#post-meta {
  color: #aaa;
}

footer {
  margin: 20px 0;
}
