<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="en">
{% include head.html %}
<body>
	{% include header.html %}

	<div id="wrapper">
		{% include sidebar.html %}

		<main>
			<h1>{{ page.title }}</h1>

			<article>
				{{ content }}
			</article>

			<footer>
				<a href="{{ page.previous | absolute_url }}">
					&laquo; Previous
				</a>

				<span id="metadata">
					| Posted {{ page.date | date: "%B %-d, %Y" }} by
					{{ page.author | default: site.author }} |
				</span>

				<a href="{{ page.next | absolute_url }}">
					Next &raquo;
				</a>
			</footer>
		</main>

		{% include clear.html %}
	</div>

	{% include footer.html %}
</body>
</html>
